.container {
    height: 40rem;
    width: 35rem;
    position: relative;
}

.name {
    position: absolute;
    color: var(--black);
    bottom: 0;
    padding: 25% 0 1em .5em;
    text-transform: uppercase;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #B9B9B9 100%);
}